<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/logic/css/main.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/pose.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="panel-block">
    <video class="video" width="300px" height="300px" hidden=true></video>
  </div>
  <div class="row">
  <div class="column">
  <div class="panel-block">
    <canvas class="canvasOutput" width="500px" height="500px"></canvas>
  </div>
  </div>
  <div class="column">
    <p class="heading">Biceps Curl</p>
    <div class="content">
      <span class="right">9</span>
      <span class="left">Reps Done</span>
</div>
<br>
<br>
<br>
<br>
<div class="content">
  <span class="right">2:43</span>
  <span class="left">Time</span>
</div>
<br>
<br>
<br>
<br>
<div class="content">
  <span class="right">29</span>
  <span class="left">Calories Burned</span>
</div>
<br>
<br>
<br>
<br>
<div class="content">
  <span class="right">
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </span>
  <span class="left">Music</span>
</div>
<button>End Session</button>

  </div>
  </div>
  <script type="text/javascript" src="/logic/js/app.js"></script>
  <script type="text/javascript" src="/logic/js/bicepCurl.js"></script>
</body>
</html>


</html>