<html>
    <head>
        <link rel="stylesheet" href="/logic/css/styling.css">
    </head>
    <body>
        <div class="headings">
        <p class="heading">fit & femme</p>
        <p class="tagline">workouts that work for women.</p>
    </div>
    <div class="excersises">
        <div class="row">
            <div class="column">
              <div class="card">
                  <a href="/logic/templates/pushups.html"><img src="https://cdn-icons.flaticon.com/png/512/4721/premium/4721126.png?token=exp=1642327874~hmac=dae66ba4d593b992fdfeac0081ba4f79" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <a href="/logic/templates/crunches.html"><img src="https://cdn-icons-png.flaticon.com/512/3048/3048341.png" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                  <a href="/logic/templates/squats.html"><img src="https://cdn-icons-png.flaticon.com/512/3043/3043218.png" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                  <a href="/logic/templates/bicepCurl.html"><img src="https://cdn-icons.flaticon.com/png/512/1845/premium/1845861.png?token=exp=1642327436~hmac=6bdb8a97796d1137992287fbce5929f7" class="iconimg" alt=""></a></div>
                </div>
              </div>
            </div>
          
   
    </body>
</html>